/*AGENT_SHEET*/

/* Reduce popup animation fade time */
popup, menupopup, panel {
	transition-duration: 0.01ms !important;
}

/* Dim bookmarks for unloaded tabs */
menuitem[pending] > .menu-iconic-text {
	filter: opacity(.5) !important;
}

/* Decrease menu spacing */
menupopup > menuitem, menupopup > menu {
  padding-block: 4px !important;
}
:root {
  --arrowpanel-menuitem-padding: 4px 8px !important;
}
