/*AGENT_SHEET*/

/* Reduce popup animation fade time */
popup, menupopup, panel {
	transition-duration: 0.01ms !important;
}

/* Dark website identitity popup */
#identity-popup-mainView {
	color: white !important;
	background: hsl(240, 1%, 20%) !important;
}

/* Dark downloads panel */
panelmultiview panelview richlistbox {
	background: hsl(240, 1%, 20%) !important;
	color: white !important;
}
#emptyDownloads {
	background: rgb(71, 71, 73) !important;
	color: white !important;
}
#downloadsFooterButtons {
	background: hsl(240, 1%, 20%) !important;
	color: white !important;
}

/* Dark arrow panels (e.g. Firefox menu) */
.panel-arrowcontent, .panel-subview-body, #appMenu-zoomReset-button, .subviewbutton {
	color: white !important;
	background-color: rgb(71, 71, 73) !important;
}
.panel-subview-footer,[class^="PanelUI-"] {
	color: white !important;
	background: hsl(240, 1%, 20%) !important;
}
.subviewbutton::after, .subviewbutton-nav::after {
	color: white !important;
	fill: white !important;
	filter: opacity(.5) !important;
}
.panel-arrowcontent > textbox {
	color: white !important;
	background: hsl(240, 1%, 20%) !important;`
}

/* Darken right-click menus and bookmarks toolbar dropdowns */
menupopup, popup,
popup > menu > menupopup,
menupopup > menu > menupopup {
	-moz-appearance: none !important;
	background: hsl(240, 1%, 20%) !important;
	border: 1px solid black !important;
	/*padding: 4px 0px 4px 0px !important;*/
}
menupopup menuseparator {
	-moz-appearance: none !important;
	background: white !important;
	filter: opacity(.5);
	/*margin: 3px 10px 3px 10px !important;*/
	padding: 0 !important;
	border-top: none !important;
	border-color: transparent !important;
}
menugroup {
	background: hsl(240, 1%, 20%) !important;
}
menupopup menu, menuitem {
	color: white !important;
}
menupopup menu:hover, menuitem:hover {
	color: white !important;
	background: hsl(240, 1%, 20%) !important;
}
.menu-accel {
	color: white !important;
	filter: opacity(.5) !important;
}

/* Dim menu text and disabled menuitems */
menuitem > .menu-iconic-text, menuitem:hover > .menu-iconic-text {
	filter: opacity(.8) !important;
}
menu:disabled, menuitem:disabled {
	-moz-appearance: none !important;
	filter: opacity(.5) !important;
}
menu:disabled:hover, menuitem:disabled:hover {
	background: rgba(0, 127, 255, .4) !important;
}

/* Dim bookmarks for unloaded tabs */
menuitem[pending] > .menu-iconic-text {
	filter: opacity(.5) !important;
}

/* Decrease menu spacing */
menupopup > menuitem, menupopup > menu {
  padding-block: 4px !important;
}
:root {
  --arrowpanel-menuitem-padding: 4px 8px !important;
}
