/*AGENT_SHEET*/


/* Dark background while loading page */
tabbrowser tabpanels {
	background: url(chrome://global/skin/media/imagedoc-darknoise.png) !important;
}

/* Dark tooltips */
tooltip, statuspanel .statuspanel-label {
	-moz-appearance: none !important;
	background-color: var(--toolbar-bgcolor) !important;
	color: var(--lwt-text-color) !important;
	border-color: black !important;
}

/* Dark alerts (NB: theme variables don't work here) */
#alertBox {
	-moz-appearance: none !important;
	background: hsl(240, 1%, 20%) /* var(--toolbar-bgcolor) */ !important;
	color: #DDDDDD !important;
}
