/*AGENT_SHEET*/
/* Note: arrow panels are styled in menus.css */

/* Dark autocomplete popup borders */
#PopupAutoCompleteRichResult, #PopupSearchAutoComplete, #PopupAutoComplete {
	border: 1px solid black !important
}


/* Dark location bar autocomplete popup */
#PopupAutoCompleteRichResult .ac-title-text, #PopupAutoCompleteRichResult .ac-action-text {
	color: white !important;
	filter: opacity(.75) !important;
}
#PopupAutoCompleteRichResult .autocomplete-richlistbox {
	background: rgb(71, 71, 73) !important;
}

/* Fix location bar autocomplete popup width */
#urlbar-results {
	width: auto !important;
	max-width: 75vw !important;
	margin-top: 0px !important;
	margin-left: 0px !important;
}
#PopupAutoCompleteRichResult {
	margin-left: 0px !important;
}
#PopupAutoCompleteRichResult .autocomplete-richlistitem {
	padding-left: 5px !important;
}
#PopupAutoCompleteRichResult .ac-type-icon {
	display: none !important;
}
#PopupAutoCompleteRichResult .autocomplete-richlistbox {
	width: auto !important;
	max-width: 75vw !important;
}


/* Dark search bar autocomplete popup */
#PopupSearchAutoComplete .search-panel-one-offs,
#PopupSearchAutoComplete .searchbar-engine-one-off-item,
#PopupSearchAutoComplete .search-panel-tree {
	color: rgb(71, 71, 73) !important;
	background-color: white !important;
}
#PopupSearchAutoComplete .search-panel-header,
#PopupSearchAutoComplete .addengine-item {
	border-color: rgba(255, 255, 255, .5) !important;
}
#PopupSearchAutoComplete .search-panel-header:not(:hover):not([selected]),
#PopupSearchAutoComplete .addengine-item:not(:hover):not([selected]),
#PopupSearchAutoComplete .search-panel-input-value {
	color: white !important;
	background-color: rgb(71, 71, 73) !important;
}
#PopupSearchAutoComplete .search-panel-header:hover,
#PopupSearchAutoComplete .addengine-item:hover {
	color: white !important;
	background: linear-gradient(rgb(71, 71, 73), rgb(71, 71, 73)), linear-gradient(rgba(0, 127, 255, .4), rgba(0, 127, 255, .4)) !important;
	background-blend-mode: multiply !important;
}


/* Dark textbox autocomplete popup */
#PopupAutoComplete .autocomplete-richlistitem .ac-title-text {
	color: white !important;
}
#PopupAutoComplete .autocomplete-richlistbox,
#PopupAutoComplete .autocomplete-richlistitem:not(:hover):not([selected]) {
	background: hsl(240, 1%, 20%) !important;
}
#PopupAutoComplete .autocomplete-richlistitem:hover,
#PopupAutoComplete .autocomplete-richlistitem[selected] {
	background-color: rgba(0, 127, 255, .4) !important;
	background-blend-mode: multiply !important;
}
