scrollbar, scrollbar *, scrollcorner {
	-moz-appearance: none !important;
	--scrollbar-width: 10px;
	--scrollbar-height: var(--scrollbar-width);
}

scrollbar, scrollcorner  {
	background: hsl(240, 1%, 20%) !important;
}
scrollbar[orient="vertical"], scrollbar[orient="vertical"] * {
	width: var(--scrollbar-width) !important;
	min-width: var(--scrollbar-width) !important;
}
scrollbar[orient="horizontal"], scrollbar[orient="horizontal"] * {
	height: var(--scrollbar-height) !important;
	min-height: var(--scrollbar-height) !important;
}

scrollbar thumb {
	/*background: rgb(71, 71, 73) !important;*/
	background: rgb(121, 121, 123) !important;
}
scrollbar thumb:hover, scrollbar thumb:active {
	background-color: rgba(0, 127, 255, .8) !important;
	background-blend-mode: multiply !important;
}

scrollbar scrollbarbutton {
	/*background: rgb(71, 71, 73) !important;*/
	background: rgb(121, 121, 123) !important;
}
scrollbar scrollbarbutton:hover, scrollbar scrollbarbutton:active {
	background-color: rgba(0, 127, 255, .8) !important;
	background-blend-mode: multiply !important;
}
