/*AGENT_SHEET*/

#sidebar, #sidebar-header,
#bookmarksPanel, #bookmarks-view,
#history-panel, #historyTree,
#viewButton {
	background: hsl(240, 1%, 20%) !important;
	color: white !important;
}

.sidebar-placesTreechildren::-moz-tree-cell(hover),
.sidebar-placesTreechildren::-moz-tree-row(selected),
.sidebar-placesTreechildren::-moz-tree-cell-text(hover),
.sidebar-placesTreechildren::-moz-tree-cell-text(selected),
#viewButton:hover {
	background: hsl(240, 1%, 20%) !important;
	color: white !important;
}

/* Sidebar border color */
#sidebar, #sidebar-header, #sidebar-splitter {
	border-color: black !important;
}

