/*AGENT_SHEET*/

#sidebar, #sidebar-header,
#bookmarksPanel, #bookmarks-view,
#history-panel, #historyTree,
#viewButton {
	background: var(--toolbar-bgcolor) !important;
	color: var(--lwt-text-color) !important;
}

.sidebar-placesTreechildren::-moz-tree-cell(hover),
.sidebar-placesTreechildren::-moz-tree-row(selected),
.sidebar-placesTreechildren::-moz-tree-cell-text(hover),
.sidebar-placesTreechildren::-moz-tree-cell-text(selected),
#viewButton:hover {
	background: var(--toolbar-bgcolor) !important;
	color: var(--lwt-text-color) !important;
}

/* Sidebar border color */
#sidebar, #sidebar-header, #sidebar-splitter {
	border-color: black !important;
}

