/*AGENT_SHEET*/

/* Fix tab toolbar background color */
.browser-toolbar.titlebar-color {
	background: hsl(240, 1%, 10%);
}

/* Remove space before tab bar */
.titlebar-spacer[type="pre-tabs"],
#main-window[sizemode="maximized"] .titlebar-spacer[type="post-tabs"] {
    display: none !important;
}

/* Shrink space after tab bar */
.titlebar-spacer[type="post-tabs"] {
    width: 20px !important;
}


/* Decrease location bar font size in compact mode */
#main-window[uidensity="compact"] :-moz-any(.searchbar-textbox, #urlbar) {
	font-size: 12px !important;
}

/* Set location bar text highlight color */
#main-window[uidensity="compact"] :-moz-any(.searchbar-textbox, #urlbar) ::selection {
	color: white;
	background: rgb(86, 117, 185);
}

/* Move location bar dropmarker to end */
.urlbar-history-dropmarker {
	-moz-box-ordinal-group: 100 !important;
}

/* Decrease location bar icon size in compact mode */
#main-window[uidensity="compact"] .urlbar-icon {
	width: 22px !important;
	height: 22px !important;
	padding: 3px !important;
}

/* Decrease search box icon padding in compact mode */
#main-window[uidensity="compact"] .searchbar-search-icon {
	margin-inline-start: 4px !important;
	margin-inline-end: 4px !important;
}

/* Make location bar dropmarker always visible */
#urlbar .autocomplete-history-dropmarker,
#urlbar .urlbar-history-dropmarker,
#urlbar:not(:hover) > .urlbar-textbox-container > .urlbar-history-dropmarker {
	opacity: 1 !important;
}

/* Prevent location bar from expanding when focused */
#urlbar[breakout][breakout-extend]:not([open]) {
	top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
	left: 0 !important;
	width: 100% !important;
}
#urlbar[breakout][breakout-extend]:not([open]) > #urlbar-input-container {
	height: var(--urlbar-height) !important;
	padding-block: 0px !important;
	padding-inline: 0px !important;
}
#urlbar[breakout][breakout-extend][breakout-extend-animate] > #urlbar-background {
	animation-name: none !important;
}
#urlbar[breakout][breakout-extend]:not([open]) > #urlbar-background {
	box-shadow: none !important;
}


/* Old bookmarks toolbar height */
#PersonalToolbar {
	min-height: 26px !important;
}

/* Old toolbar padding */
#navigator-toolbox > toolbar:not(#toolbar-menubar):not(#TabsToolbar):not(#nav-bar) {
	padding: 0px !important;
}


/* Dark find bar textbox */
.findbar-textbox {
	color: white !important;
	background: rgb(71, 71, 73) !important;
}

/* Flat find bar buttons */
.findbar-find-previous, .findbar-find-next {
	border: none !important;
	background: none !important;
	border-radius: 2px !important;
}
.findbar-find-previous {
	margin-left: 6px !important;
}
.findbar-find-previous:hover, .findbar-find-next:hover {
	background: hsla(0, 0, 70%, .4) !important;
}
