/*AGENT_SHEET*/

/* Dark scrollbars in web pages (including default vertical scroll) */
:root {
	scrollbar-color: rgb(121, 121, 123) hsl(240, 1%, 20%) !important;
	scrollbar-width: thin !important;
}

/*
:root:active {
	scrollbar-color: rgba(0, 127, 255) hsl(240, 1%, 20%) !important;
}
*/

@-moz-document url-prefix("about:") {
	window,
	page,
	html,
	.main-content,
	scrollbar {
		scrollbar-color: rgb(121, 121, 123) hsl(240, 1%, 20%) !important;
		scrollbar-width: thin !important;
	}
}
